.navbar.navbar-light.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      i.fa-smile-o
      | Parkinson's App
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if locals.user
          li.nav-item(class=(title === 'Home') ? 'active' : undefined)
            a.nav-link(href='/') Home
          case loggedInWith
            when 'google-oauth2'
              li.nav-item(class=(title === 'Learning Videos'))
                a.nav-link(href='/learning') Learning Videos
              li.nav-item(class=(title === 'Reports'))
                a.nav-link(href='/reports') Reports
            when 'github'
              li.nav-item(class=(title === 'Analytics'))
                a.nav-link(href='/reports') Reports
            when 'linkedin'
              li.nav-item(class=(title === 'Patient Locator'))
                a.nav-link(href='/locator') Patient Locator
              li.nav-item(class=(title === 'Reports'))
                a.nav-link(href='/reports') Reports
              li.nav-item(class=(title === 'News (RSS)'))
                a.nav-link(href='/news') News (RSS)
      ul.nav.navbar-nav.ml-auto
        if !locals.user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              img(src=locals.user.picture)
              span= locals.user.displayName
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') My Account
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Logout
